@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --body-background: #e7ecee;
  --text-dark: #4f5a64;
  --text-light: #798a9a;
  --background-white: #fff;
  --border-color: #bdbdbd;

  --line-height: 1.5rem;
  --letter-spacing: 1px;
  --normal-font: 16px;
  --h1-font-size: 26px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --h4-font-size: 20px;
  --form-font-size: 18px;
  --bigger-font-size: 36px;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-family: 'Poppins' sans-serif;
  text-decoration: none;
}

body {
  background: var(--body-background);
  color: var(--text-dark);
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: var(--header-background);
  color: var(--header-color);
  align-items: center;
  padding: 40px;
  font-size: var(--h2-font-size);
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: var(--header-color);
}

.logo img {
  width: 48px;
}

.search-form {
  width: 80%;
  height: max-content;
  padding: 10px;
  background: var(--background-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.search-form {
  display: flex;
  width: 80%;
  height: max-content;
  padding: 20px;
  gap: 10px;
}

.search-form input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  font-size: var(--form-font-size);
  border: 1px solid var(--border-color);
}

.search-form button {
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--bigger-font-size);
  transition: all .5s ease-in-out;
}

.search-form button:hover {
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--form-font-size);
  width: 100%;
  padding: 15px;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-left: none !important;
  border-right: none !important;
}

.search-box .search-icon {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--form-font-size);
  cursor: pointer;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.github-profile {
  display: flex;
  width: 80%;
  gap: 20px;
  height: max-content;
  padding: 10px;
  background: var(--background-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.github-profile .avatar {
  height: 150px;
  width: 150px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.github-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-details {
  display: flex;
  justify-content: space-between;
}

.repositories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: max-content;
  padding: 10px;
  background: var(--background-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}